.shopTitle {
  margin-top: 80px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 40px;
}
.head_title{
  font-weight: 500;
  font-size: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.products {
  width: 50%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.container_form_form{
  margin-top: 45px;
  margin-bottom: 30px;
  border: 1px solid rgb(84, 82, 82);
  box-shadow: 1px 6px 2px 4px rgb(84, 82, 82, 0.3);
width: 80%;
align-items: center;
justify-content: center;
}

.product {
  border-radius: 15px;
  width: 300px;
  height: 350px;
   margin: 100px 40px 100px 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_form1{
  padding: 20px;

  
}
.form_con1{

  justify-content: center;
  align-items: center;
display: flex;
 
}
.form-label{
  margin-top: 5px;
}
.photo_img {
  width: 320px;
  transition: width 0.3s ease-in-out;
}
.area_control{
  width: 50% !important;
  height: 150px !important;
}
.photo_img:hover {
  width: 365px;
}

 img :hover{
  transition: 0.3s all ease-in-out;
  width: 340px;
}

.product .description {
  text-align: center;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}
