.navvbar {
  background-color: rgb(19, 19, 19);
  display: inline-block;
  width: 100%;
}

.title {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-left: 20px;
  float: left;
}

.links {
  align-content: center;
  margin-right: 20px;
  float: right;
}

.links a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}
